{% extends './layout.html' %}


{% block content %}

<form action="/employees/{{employee.id}}" method='POST' style="margin: 10px 0px 20px;">
  <div class="form-row">
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name='firstName' placeholder='First name'>
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name='lastName' placeholder='Last name'>
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control"name='nicknames' placeholder='Nickname(s)'>
    </div>
  </div>
  <button class="btn btn-primary">Create Employee</button>
</form>

<h4>Current Employees</h4>
<ul class="list-group">
  {% for employee in employees %}
  <li class="list-group-item">
    <a href="/employees/{{employee.id}}">{{employee.firstName}} {{employee.lastName}}</a>
    <br>{{employee.position}}
  </li>
  {% endfor %}
</ul>

{% endblock %}
