<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/vendor/bootstrap/dist/css/bootstrap.css" />
  <!-- <script src="main.js"></script> -->
</head>
<body>
  <div class="container" style="margin-bottom:40px">
    <h1>Acme Employee Directory</h1>
    <h2 style="margin:5px 0px 10px;">{{ title }}</h2>
    <h6>We are a growing company with <span class="badge badge-info">{{employeeCount}}</span> employees and <span class="badge badge-info">{{nickCount}}</span> nicknames</h6>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a style="{%if path === '/'%}font-weight:bold{% endif %}" href="/" class="nav-link {%if path === '/' %}active{% endif %}">Home</a>
      </li>
      <li class="nav-item">
        <a style="{% set regExp = r/employees\/?\d?/ %}
        {%if regExp.test(path)%}font-weight:bold{% endif %}" href="/employees" class="nav-link
        {% set regExp = r/employees\/?\d?/ %}
        {%if regExp.test(path)%}active{% endif %}">Employees</a>
      </li>
    </ul>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
